.banner {
    position: relative;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    filter: brightness(55%);
    margin-bottom: 30px;
}

.banner-text {
    color: white;
    width: 60%;
    font-size: 2.3rem;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1050px) {
    .banner-text {
        font-size: 1.4rem;
    }

}


@media screen and (max-width: 740px) {
    .banner-img {
        border-radius: 15px;
    }

    .banner-mobileview {
        height: 223px !important;
    }

    .banner-text {
        font-size: 1rem;
        text-align: start;
    }

}