.banner {
    position: relative;
}

.banner-img {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    filter: brightness(55%);
}

.banner-text {
    color: white;
    width: 60%;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}