.liste-logements {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px 60px;
    padding: 55px 50px;
}

.card {
    border-radius: 10px;
    height: 100%;
    min-height: 340px;
    position: relative;
}

.card-img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(75%);
}

.card-title {
    font-weight: bold;
    color: white;
    left: 20px;
    bottom: 20px;
    font-size: 17px;
    margin-right: 20px;
    position: absolute;

}