.dropdown {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: center;
  }
  
  .header-dropdown {
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    height: 25%;
    min-height: 50px;
    width: 85%;
  }
  
  .dropdown-title {
    color: #ffffff;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 50px;
    margin: 5px 10px;
  }
  
  .arrow-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
  }
  .arrow-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  
  .dropdown-description {
    background-color: #f6f6f6;
    border-radius: 0px 0px 5px 5px;
    margin-top: -5px;
    color: #ff6060;
    font-size: 1.3rem;
    display: inline-flex;
    align-items: center;
    line-height: 30px;
    height: 75%;
    width: 85%;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
  