header {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
}

header > img {
    height: 45px;

}

nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    list-style-type: none;
    margin-left: 30px;
}

nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 1050px) {
    header > img {
        height: 40px;
    
    }

}


@media screen and (max-width: 740px) {
    header > img {
        height: 35px;
    }
}
