
.proprietaire-logement {
    display: inline-flex;
    width: 100%;
}

.proprietaire-logement > div {
    flex: 1 0 auto;
}

.information-logement {
    flex-direction: column;
}

.titre-logement {
    font-size: 25px;
    font-weight: bold;
}

.lieu-logement {
    display: block;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 25px;
}

.proprietaire-informations {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.nom-proprietaire {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.photo-propietaire {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.star {
    height: 30px;
    width: 30px;
}

.description-equipements {
    display: flex;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
}

.description-equipements li {

}

.description-equipements .dropdown {
    width: 50%;
}