.proprietaire-logement {
    display: inline-flex;
    width: 100%;
}

.proprietaire-logement>div {
    flex: auto;
}

.information-logement {
    flex-direction: column;
}

.titre-logement {
    font-size: 25px;
    font-weight: bold;
}

.lieu-logement {
    display: block;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 25px;
}

.proprietaire-informations {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.nom-proprietaire {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.photo-propietaire {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.star {
    height: 30px;
    width: 30px;
}

.description-equipements {
    display: flex;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
}


.description-equipements .dropdown {
    width: 60%;
}



@media screen and (max-width: 1050px) {
    .proprietaire-logement {
        display: flex;
    }

}

@media screen and (max-width: 740px) {
    .lieu-logement {
        margin-bottom: 15px;
    }

    .proprietaire-logement {
        display: flex;
        flex-wrap: wrap;
    }

    .proprietaire-note {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .star {
        height: 15px;
        width: 15px;
    }

    .description-equipements {
        margin-top: 10px;
    }

    .description-equipements .dropdown {
        width: 100%;
    }
    
}